name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Grant execute permission for gradlew
        run: chmod +x client/mvnw server/mvnw

      - name: Build Client
        run: cd client && ./mvnw clean package -DskipTests

      - name: Build Server
        run: cd server && ./mvnw clean package -DskipTests
